.carousel__principal{
    width:53.125rem;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.625rem;
    padding-bottom: 0rem;
    height: 35.625rem;
}

